@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
}
.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    max-width: 620px;
    margin-right: auto;
    border-radius: 2em;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 2em;
}
.card img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}
.card section{
    padding: 1em 2em;
    background: #FFF;
    border-radius: 0 0 2em 2em;
}
.card__label{
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: .3em;
}
.card__title{
    font-family: 'Fraunces', serif;
    margin: .5em 0;
    font-size: 2rem;
    font-weight: 700;
}
.card__description{
    color: hsl(228, 12%, 48%);
    margin: 1em 0;
    font-size: 14px;
}
.card__price{
    margin-top: 3em;
    display: flex;
    gap: 2em;
    align-items: center;
}
.card__price p:first-child{
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.card__price p:last-child{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.card__button{
    width: 100%;
    margin-top: 1em;
    display: block;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: 1em;
    border: 1px solid hsl(158, 36%, 37%);
    color: #FFF;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-radius: .7em;
}
.card__button ion-icon{
    font-size: 1.3rem;
    font-weight: 700;
}
@media(min-width: 800px){
    .card{
        flex-direction: row;
        margin: 0 auto;
        margin-top: 3em;
    }
    .card > picture{
        width: 50%;
        flex: .5;
    }
    .card > section{
        width: 50%;
        flex: .5;
        padding: 2em;
        border-radius: 0 2em 2em 0;
    }
    .card img{
        border-radius: 2em 0 0 2em;

    }
}
.attribution{
    text-align: center;
    margin: 2em auto;
}